*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --ff_b: "Roboto", sans-serif;
   --ff_s: "Blinker", sans-serif;

   --fs_h1: 1.6rem;
   --fs_h2: 1.3rem;
   --fs_h3: 1.2.5rem;
   --fs_h4: 1.1rem;
   --fs_p: 1rem;
   --fs_ps: 0.85rem;

   --bg_clr: #fff;
   --bg_sec: #f2f2f2;
   --txt_black: #000;
   --txt_grey: #616161;
   --txt_grey2: #3d3d3d;
}

body {
   background-color: var(--bg_clr);
   color: var(--txt_black);
   margin: 0;
   font-family: var(--ff_b);
   font-size: var(--fs_p);
   line-height: 1.2;
}

img {
   display: block;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

h1 {
   font-size: var(--fs_h1);
}
h2 {
   font-size: var(--fs_h2);
}
h3 {
   font-size: var(--fs_h3);
}
h4 {
   font-size: var(--fs_h4);
}
p {
   font-size: var(--fs_p);
}

.container {
   width: 90%;
   margin: 0 auto;
   max-width: 1100px;
   padding: 1em 0;
}

header {
   font-family: var(--ff_s);
   font-size: var(--fs_ps);
}

.flex_head,
.nav_list,
.left,
.icons {
   display: flex;
}

.logo {
   height: 1.7em;
}

.flex_head {
   justify-content: space-between;
   padding-bottom: 0;
   padding-top: 1em;
}

.left {
   flex-wrap: wrap;
}

.nav_list {
   padding-left: 2em;
   padding-top: 0.3em;
}

.nav_item {
   margin-right: 1.2em;
}

.nav_link {
   color: var(--txt_grey2);
}

.icon {
   padding: 0.2em 0.7em;
   color: var(--txt_black);
}

.btn {
   background-color: rgb(22, 22, 22);
   color: #fff;
   font-weight: bold;
   display: inline-block;
   font-size: var(--fs_h4);
   padding: 0.7em 1.1em;
}

.btn:hover {
   background-color: var(--txt_grey2);
}

.grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1.1em;
}

@media (max-width: 800px) {
   .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.1em;
   }
}

@media (max-width: 480px) {
   .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1.1em;
   }
}

/* Surface */

.surface_con {
   padding-top: 0;
}

.bigboy {
   background-image: url("https://i.ibb.co/zGSDGCL/slide1.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   padding: 10em 1em 3em 1em;
   margin-top: 1em;
}

.bigboy_h {
   margin-top: 3.5em;
   margin-bottom: 1em;
}

.surface_btn {
   margin-top: 1.5em;
}

.grid_item {
   margin-top: 1em;
}

.grid_img {
   width: 100%;
}

.item_h {
   margin: 1em 0 0.5em 0;
}

.blue_a {
   display: inline-block;
   padding-top: 1em;
   color: rgb(0, 80, 201);
   font-weight: bold;
}

.gamepass {
   background-image: url("https://i.ibb.co/tBJGPD9/xbox.png");
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 2.5em 1.4em;
   height: 350px;
}

.gamepass_p {
   width: 40%;
   padding-top: 1em;
}

.showcase_btn {
   margin-top: 1em;
}

@media (max-width: 550px) {
   .gamepass {
      height: auto;
   }

   .gamepass_p {
      display: none;
   }

   .gamepass_h {
      width: 30%;
   }
}

/* Carbon */

.carbon_section {
   background-image: url("https://i.ibb.co/72cgtsz/carbon.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 350px;
   color: #fff;
   padding: 6em 2em;
}

.carbon_h,
.carbon_p {
   width: 60%;
}

.carbon_p {
   padding: 1em 0;
}

.carbon_btn {
   background-color: #fff;
   color: var(--txt_grey2);
}
.carbon_btn:hover {
   background-color: rgb(202, 202, 202);
}

@media (max-width: 480px) {
   .carbon_h,
   .carbon_p {
      width: 80%;
   }
}

.flex {
   display: flex;
   margin-top: 2em;
}

.social {
   margin-left: 1em;
   padding-bottom: 1em;
}

.followus {
   align-self: center;
}

/* footer */

.foot_con {
   width: 100%;
   padding: 3em 8em;
   background-color: var(--bg_sec);
   background-size: cover;
   line-height: 2;
   font-size: var(--fs_ps);
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 1.1em;
}

@media (max-width: 1000px) {
   .foot_con {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.1em;
   }
}

@media (max-width: 800px) {
   .foot_con {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.1em;
   }
}

@media (max-width: 480px) {
   .foot_con {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1.1em;
   }
}

.footer_a {
   color: var(--txt_grey);
}

.grey {
   color: var(--txt_grey2);
}
.foot_con ul li {
   width: 160px;
}

/* bottom */

.bottom {
   display: flex;
   padding: 2em 6em;
   font-size: var(--fs_ps);
}

.bott {
   display: flex;
   flex-wrap: wrap;
}

.bott_i {
   padding: 1em;
   align-self: flex-start;
}

.bott_a {
   color: var(--txt_grey2);
}

.bott_li {
   align-self: center;
   padding-left: 1.5em;
}
.bott_i,
.fa-globe {
   color: var(--txt_grey);
}

.fa-globe {
   padding: 0.1em;
}

.last {
   padding: 0.5em;
   padding-left: 0.5em;
   padding-top: 0.7em;
   align-self: center;
}

/* MENU */

.menu_btn {
   position: absolute;
   cursor: pointer;
   font-size: var(--fs_h1);
   top: 12px;
   right: 25px;
   z-index: 2;
   display: none;
}

@media (max-width: 700px) {
   .menu_btn {
      display: block;
   }

   .icon:last-child {
      padding-right: 5em;
      color: var(--txt_black);
   }

   .menu_btn:hover {
      opacity: 0.5;
   }

   .nav_list {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background: #f2f2f2;
      border: 1px #ccc solid;
      opacity: 0.9;
      padding: 3em;
      width: 50%;
      height: 100%;
   }
   .nav_item {
      padding: 2em;
      padding-bottom: 0.5em;
      border-bottom: 1px #ccc solid;
   }

   .nav_item:last-child {
      border-bottom: none;
   }
}
.nav_list.show {
   display: block;
}
